body {
    font-family: sans-serif;
}

#cow {
    animation-name: pop;
    animation-duration: 1s;
}

@keyframes pop {
    0%   {height: 340px; width: 284px;}
    25%  {height: 345px; width: 289px;}
    50%  {height: 350px; width: 294px;}
    100% {height: 340px; width: 284px;}
}
  